<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>我好想你！</title>

<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width"/>

</head>
<body style="background-color: #3D3D3D">
<br>
<br><br><br><br><br>
<div style="text-align:center;">
<span style="color:#FFE4E1; font-size:22px;">宝贝</span><br>
<span style="color:#FFE4E1; font-size:22px;">我们马上就半年了</span><br>
<span style="color:#FFE4E1; font-size:22px;">越来越喜欢你了</span><br>
<span style="color:#FFE4E1; font-size:22px;">越来越爱</span><br>
<span style="color:#FFE4E1; font-size:22px;">从校园爱情</span><br>
<span style="color:#FFE4E1; font-size:22px;">要是能发展到成家</span><br>
<span style="color:#FFE4E1; font-size:22px;">想想也是多么浪漫的事</span><br>
<span style="color:#FFE4E1; font-size:22px;">好想好想</span><br><br><br>
<span style="color:#FFE4E1; font-size:22px;">好想好想</span><br><br><br>



<span style="color:#FFE4E1; font-size:22px;">多么美妙...</span><br>




<br>
<hr>
</div>

<div style="text-align:center;">

<p><h2>宝贝 爱你！<h2></p>
<br>
<hr>
</div>

</body>
</html>