<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>test13</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<link href="" rel="stylesheet">
	</head>
	
	<body>
		变量a={$a}，变量b={$b}<br/>
		a+b={$a+$b}<br/>
		a-b={$a-$b}<br/>
		a*b={$a*$b}<br/>
		a/b={$a/$b}<br/>
		a%b={$a%$b}<br/>
		a++={$a++} ++a={++$a}<br/>
		b--={$b--} --b={--$b}
	</body>
</html>