<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"><!--X-UA-Compatible是IE8的一个专有<meta>属性，它告诉IE8采用何种IE版本去渲染网页，在html的<head>标签中使用。-->
<meta name="viewport" content="width=device-width, initial-scale=1"><!--不能缩放-->
<meta name="description" content="张坤的个人动态">
<meta name="keywords" content="张坤的个人动态">
<meta name="author" content="张坤">

<title>ZhangKun's Home</title>
	<style type="text/css">
		a:link{
			color: #023054;
			text-decoration: none;
		}

	</style>

<!--==== bootstrap ====-->
<link href="__HOME__/css/bootstrap.min.css" rel="stylesheet">
<!--==== font-awesome ====-->
<link href="__HOME__/css/font-awesome.min.css" rel="stylesheet">
<!--==== owl-carousel ====-->
<link href="__HOME__/css/owl.carousel.css" rel="stylesheet">
<!--==== magnific-popup ====-->
<link href="__HOME__/css/magnific-popup.css" rel="stylesheet">
<!--==== animate css ====-->
<link href="__HOME__/css/animate.min.css" rel="stylesheet">

<!--==== style css ====-->
<link href="__HOME__/css/style.css" rel="stylesheet">
<!--==== responsive css ====-->
<link href="__HOME__/css/responsive.css" rel="stylesheet">


	<link href="__HOME__/css/mui.css" rel="stylesheet">

<!--==== jquery ====-->
<script src="__HOME__/js/jquery-2.1.4.min.js"></script>

<!--[if lt IE 9]>
<script src="__HOME__/js/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="__HOME__/js/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>

<!--==== DEMO COLOR PANEL =====-->
<div class="demo_panel_box">
  <div class="color_panel_box">
	 <div class="spiner_button slide_in_out"><i class="fa fa-cog fa-spin"></i></div>
	  <span class="red_color"></span>
	  <span class="blue_color"></span>
	  <span class="yellow_color"></span>
	  <span class="purple_color"></span>
	  <span class="pink_color"></span>
	  <span class="green_color"></span>
  </div>
</div>
<!--==== DEMO COLOR PANEL ===-->


<!--===== Preloader ====-->
<div class="preloader">
	<div class="spinner">
	  <div class="double-bounce1"></div>
	  <div class="double-bounce2"></div>
	</div>
</div>


 <!--=====****************** INTRO SECTION ****************************=====-->
<div id="home" class="intro-section">

 <!--===== HEADER AREA =====-->
	<header class="navbar custom-navbar">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="logo">
					   <div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation切换导航</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<a href="#home">ZhangKun's Home</a> <!--== logo ==-->
					</div>
				</div>
				
				<div class="col-md-9 col-sm-9 col-xs-12">
				   <nav class="main-menu">
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav"> <!--== manin menu ==-->
							<li class="active smooth-scroll"><a class="theme-color" href="#home">首页</a></li>
							<li class="smooth-scroll"><a class="theme-color" href="#about">关于我</a></li>
							<li class="smooth-scroll"><a class="theme-color" href="#services">技术</a></li>
							<li class="smooth-scroll"><a class="theme-color" href="#portfolio">生活</a></li>
							<li class="smooth-scroll"><a class="theme-color" href="#contact">交流</a></li>

							<li class="smooth-scroll"><a class="theme-color" href="index.php/Admin/Public/login">(Admin)</a></li>
						</ul>
					</div>
					</nav>
				</div>
				
			</div>
		   
		</div>
	</header>
<!--===== END HEADER AREA ======-->
	 
<!--======= WELCOME AREA =======-->
	<div class="welcome-area">
	  <div id="particles-js"></div>
	   <div class="welcome-table">
		   <div class="welcome-cell">
				<div class="container">
					<div class="row">
					   
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="welcome-text text-center">
								<h4>欢迎你 ♥ 来到</h4>
								<h1>我的 <span class="theme-color">个人空间</span></h1>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<a href="#about" class="scroll-btn banner-icon theme-color"><i class="fa fa-angle-double-down"></i></a>
	</div>
	<!--===== END WELCOME AREA =====-->
	
</div>
<!--=====***************** END INTRO SECTION ***********************=====-->


<!--=====************** ABOUT SECTION ***************=====-->
<section id="about" class="about-section section-padding">
	<div class="container">
		<div class="row">
		   
			<div class="col-md-4">
			   <div class="author-image wow fadeInLeft" data-wow-delay="0.4s">
					<img src="__HOME__/images/zk.jpg" alt="Author Image"> <!--=== author image ===-->
				<!--一堆分享链接-->
				<!--<div class="social-icon theme-color"> &lt;!&ndash;=== author social icons ===&ndash;&gt;
						<a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
						<a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
						<a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
						<a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
						<a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
						<a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a>
					</div>-->
				</div>
			</div>
			
			<div class="col-md-8">
			   <div class="about-text wow fadeInRight" data-wow-delay="0.4s">
					<h3>Hello, that's me!</h3>
				   <div style="font-size: 20px">
					   | 一个正在努力立志成为PHP高级工程师的男生。<br/>
					   | 我是理科生，喜欢电子科技，热爱学习，积极拥抱新事物。<br/><br/>
					   | 喜欢电影，阅片无数。<br/>
					   | 不喜烟酒与打骂。<br/>
					   | 喜欢笔记本、手机，也喜欢VR眼镜、平板和相机。<br/>
					   | 喜欢听人讲故事，最好讲的有趣点。<br/>
					   | 喜欢打篮球，因为可以和队友一起配合虐爆对面。<br/><br/>
					   | 吃货一枚，喜欢在厨房捣腾，就是结果一般自己吃。<br/>
					   | 假期是用来旅行的，在存钱，希望可以和爱的人一起去巴黎。<br/>
					   | 要么懒散，要么狠狠整理。<br/>
					   | 唱歌会走调，没有胡子，挺阳光。<br/>
					   | 温和，温柔，同时也想要一个温暖的笑容。<br/><br/>
					   | 22岁，摩羯座。<br/>
					   | 本科在读。<br/>
				   </div>
				    <span style="padding-left: 200px">爱我的请举手......</span><br/>
				   <!--两个按钮-->
				   <!--<a class="btn theme-color" href="#"><i class="fa fa-download"></i> download resume</a>
				   <a class="scroll-btn btn extra" href="#portfolio">see work</a>-->
				</div>
			</div>
		</div>
		
	</div>
</section>
<!--=====*********** END ABOUT SECTION **************=====-->


<!--======**************** SERVICES SECTION ******************=======-->
<section id="services" class="services-section section-padding">
	<div class="container">
	   <div class="row">
		<div class="col-md-12">
			<div class="section-title">
				<h3>学习过程中做过的小案例</h3>
			</div>
		</div>
	</div>

		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="single-services text-center wow fadeInUp" data-wow-delay="0.2s">
					<div class="servise-icon">
						<i class="fa fa-pencil-square"></i>
					</div>
					<h4><a href="index.php/Home/Love/index" target="_blank">《前端之示爱页面》</a></h4>
					<p>大二在学习前端的时候，做了一个表白示爱的页面(里面还有好多是找的网上开源的代码~ o(*￣▽￣*)ブ)，发布出来后获得了同学们的不少赞赏，这也激励我要一直继续学习下去，要成为一个真正很厉害的boy。</p>
				</div>
			</div>
			
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="single-services text-center wow fadeInUp" data-wow-delay="0.4s">
					<div class="servise-icon">
						<i class="fa fa-codepen"></i>
					</div>
					<h4><a href="__Public__/mvcDemo/index.php" target="_blank">《MVC之简单的数据增删改查》</a></h4>
					<p>这里主要是练习使用PHP和Mysql完成一个小案例。涉及到面向对象和MVC思想，实现数据的增删改查。(视图很丑，功能有限。)</p>
				</div>
			</div>
			
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="single-services last-service text-center wow fadeInUp" data-wow-delay="0.6s">
					<div class="servise-icon">
						<i class="fa fa-laptop"></i>
					</div>
					<h4><a href="./3-snake.html" target="_blank">《JS之简单幼稚版的贪吃蛇小游戏》</a></h4>
					<p>用纯JS代码实现基础的贪吃蛇移动。使用到JS的面向对象、DOM操作、事件对象操作、间隔函数setInterval()等知识点。</p>
				</div>
			</div>
			
		</div>

	</div>
</section>
<!--======*************** END SERVICES SECTION ****************=======-->


<!--QUOTES AREA-->
<div id="quotes" class="quotes-area section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="quotes-content text-center">
				   <h3>Let's study together!</h3><br>

					<div style="text-align: left;padding-left: 20px;font-size: 20px;">
						<!--<a href="index.php/Home/index/showList" target="_blank">学习过程中的心得.</a><br/>-->
						<volist name='data' id='vol'>
							<br>
							<a href="index.php/Home/index/showContent/id/{$vol.id}" target="_blank">{$vol.id} . {$vol.title|msubstr=0,15}&nbsp; &nbsp;| 作者:{$vol.author}</a><br/>
						</volist>
					</div>
					<br><br>

					<a class="scroll-btn btn theme-color" href="#contact" style="font-size: 20px">一起交流</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--END QUOTES AREA-->


<!--======********** PORTFOLIO SECTION *********======-->
<section id="portfolio" class="section-padding">
<div class="container">
	<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h3>生活·留念</h3>
				</div>
			</div>
		</div>

	<div class="row">
		<div class="col-md-4 col-sm-6 single-work">
			<a href="__HOME__/images/portfolio/item1.jpg" class="image-popup">
			<img src="__HOME__/images/portfolio/item1.jpg" alt="">
			<div class="itemHover">
				<div class="work-table">
					<div class="table-cell">
						<div class="hover-content">
							<i class="fa fa-camera"></i>
							<h6>江苏徐州 / 必胜客</h6>
						</div>
					</div>
				</div>
			  </div>
			</a>
		</div>   

		<div class="col-md-4 col-sm-6 single-work">
			<a href="__HOME__/images/portfolio/item2.jpg" class="image-popup">
				<img src="__HOME__/images/portfolio/item2.jpg" alt="">
					<div class="itemHover">
					<div class="work-table">
						<div class="table-cell">
							<div class="hover-content">
								<i class="fa fa-camera"></i>
								<h6>浙江杭州 / 乌镇</h6>
							</div>
						</div>
					</div>
				  </div>
			</a>
		</div>  

		<div class="col-md-4 col-sm-6 single-work">
			<a href="__HOME__/images/portfolio/item3.jpg" class="image-popup">
				<img src="__HOME__/images/portfolio/item3.jpg" alt="">
			   <div class="itemHover">
					<div class="work-table">
						<div class="table-cell">
							<div class="hover-content">
								<i class="fa fa-camera"></i>
								<h6>首都北京 / 航天博物馆</h6>
							</div>
						</div>
					</div>
				  </div>
			</a>
		</div>  

		<div class="col-md-4 col-sm-6 single-work">
			<a href="__HOME__/images/portfolio/item4.jpg" class="image-popup">
				<img src="__HOME__/images/portfolio/item4.jpg" alt="">
				<div class="itemHover">
					<div class="work-table">
						<div class="table-cell">
							<div class="hover-content">
								<i class="fa fa-camera"></i>
								<h6>学校 / 重庆小面</h6>
							</div>
						</div>
					</div>
				  </div>
			</a>
		</div>  
		
		<div class="col-md-4 col-sm-6 single-work">
			<a href="__HOME__/images/portfolio/item5.jpg" class="image-popup">
				<img src="__HOME__/images/portfolio/item5.jpg" alt="">
				<div class="itemHover">
					<div class="work-table">
						<div class="table-cell">
							<div class="hover-content">
								<i class="fa fa-camera"></i>
								<h6>学校 / 自习室</h6>
							</div>
						</div>
					</div>
				  </div>
			</a>
		</div>  

		<div class="col-md-4 col-sm-6 single-work">
			<a href="__HOME__/images/portfolio/item6.jpg" class="image-popup">
				<img src="__HOME__/images/portfolio/item6.jpg" alt="">
				<div class="itemHover">
					<div class="work-table">
						<div class="table-cell">
							<div class="hover-content">
								<i class="fa fa-camera"></i>
								<h6>女神 / 紫霞仙子</h6>
							</div>
						</div>
					</div>
				  </div>
			</a>
		</div>  

	</div><!--/.row-->
</div><!--/.container-->
</section>
<!--======************ END PORTFOLIO SECTION **************======-->


<!--======**************** REVIEW SECTION *****************========-->
<div id="review" class="review-section section-padding">
	<div class="container">
	   <div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2><span class="theme-color">life tell me</span> 做个实干派</h2>
				</div>
			</div>
		</div>
		<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				 <div class="review-full-area">
				   <div class="review-list">

					<div class="single-review"> <!-- start single carousel item -->
						<div class="review-content">
							<p>学PHP的路途也算是艰辛的，在学校里只有一些简单的公开课，大部分还是要自己钻研学习的。
								我还在努力的一步一步往前爬，看书和浏览网上教程，我不会忘记我心中的目标，坚持着努力着总有一天会有些成就的。加油💪 boy!</p>
						</div>
						<h5 class="author"> zhangkun</h5>
					</div> <!-- end single carousel item -->

					<div class="single-review"> <!-- start single carousel item -->
						<div class="review-content">
							<p>我承认有时候我过得一点也不好，很多时候我真的都熬不下去，也不知道哪儿来的这么多压力。
								我们都不是很完美的人，在孤独的时候，要给自己安慰，在寂寞的时候，要给自己温暖。
								学会独立，告别依赖，对软弱说再见。让优秀成为一种习惯。加油💪boy!</p>
						<h5 class="author"> zhangkun</h5>
					    </div> <!-- end single carousel item -->


				    </div>
					</div>
			     </div>
			
		        </div>
	</div>
	</div>
</div>
<!--======************* END REVIEW SECTION ***************========-->


<!--======******************** CONTACT INFO SECTION **********************======-->
<section id="contact" class="contact-area section-padding">
<div class="container">
         <div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2><span class="theme-color">Get in tuch with me</span> 留言交流</h2>
				</div>
			</div>
		</div>
	<div class="row">
		<div class="col-md-12 wow fadeInUp" data-wow-delay="0.4s">
		  <!-- Start Contact Form -->
			<form action="" method="post" enctype="multipart/form-data" id="contactForm" class="contact-form shake" data-toggle="validator">
			 <div class="row">
				 <div class="col-md-6">
					  <div class="form-group">
				<div class="controls">
				  <input type="text" id="name" name="author" class="form-control" placeholder="昵称" required data-error="请输入一个你喜欢的昵称！">
				  <div class="help-block with-errors"></div>
				</div>
			  </div>
				 </div>


			 </div>
			 
			 <div class="row">
				 <div class="col-md-12">
					 <div class="form-group">
				<div class="controls">
				  <input type="text" name="title" id="msg_subject" class="form-control" placeholder="主题" required data-error="请输入你的主题！">
				  <div class="help-block with-errors"></div>
				</div>
			  </div>
				 </div>

			 </div>
			 
			 <div class="row">
				 <div class="col-md-12">
					 <div class="form-group">
				<div class="controls">
				  <textarea id="message" name="content" rows="7" placeholder="留言" class="form-control" required data-error="请写下你的留言!"></textarea>
				  <div class="help-block with-errors"></div>
				</div>
			  </div>
				 </div>
			 </div>

			 
			<!--<div class="row">
				<div class="col-md-12">
					<div id="msgSubmit" class="h3 text-center hidden"></div> 
			  <div class="clearfix"></div>   
				</div>
			</div>-->

				<div class="row">
					<div class="col-md-12">
						<a href="javascript:;" class="btn btn-effect theme-color" id='btnSubmit'>Send</a>
						<a href="javascript:;" class="btn btn-effect theme-color" id='btnReset'>Clear</a>
					</div>
				</div>
			</form>     
			<!-- End Contact Form -->
			<!--<div class="row">
				<div class="col-md-12">
					<button type="submit" href="javascript:;" id="submit" class="btn btn-effect theme-color"> Send</button>
				</div>
			</div>-->

		</div>
	</div>
</div>

</section>

<!--QUOTES AREA-->
<div  class="quotes-area section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="quotes-content text-center">
					<h4>留言板展示</h4>

					<div style="text-align: left;padding-left: 20px;">
						<!--<a href="index.php/Home/index/showList" target="_blank">学习过程中的心得.</a><br/>-->
						<volist name='checkData' id='vol2'>

							<div class="mui-card-header mui-card-media">
								<img src="__HOME__/images/userlogo.jpg" width="100px" height="100px"/>
								<!--<notempty name='vo.picture'>【<a href='__CONTROLLER__/download/id/{$vo.id}'>下载</a>】</notempty>-->
								<div class="mui-media-body" style="font-size: 18px">
									{$vol2.title}<p>{$vol2.author} | 2017</p>
									<!-- <p>{$vol2.author} | {$vol2.addtime|date='Y-m-d H:i:s',###}</p> -->
								</div>
								<br>
								<div style="font-size: 20px;color: black;padding-left: 40px">{$vol2.content|msubstr=0,100}</div>
							</div>
							<br>
						</volist>
					</div>








				</div>
			</div>
		</div>
	</div>
</div>
<!--END QUOTES AREA-->


<!--======**************** END CONTACT INFO SECTION ********************======-->


<!--======******************* FOOTER SECTION ******************======-->
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
			   <div class="footer-text wow fadeInUp" data-wow-delay="0.4s">
					<p>Copyright &copy; 2017.zk &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;苏ICP备16000331号.</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<!--======******************* END FOOTER SECTION ***************======-->


<!--==== plugins js ====-->
<script src="__HOME__/js/plugins.js"></script>
<!--==== magnific-popup-options js ====-->
<script src="__HOME__/js/magnific-popup-options.js"></script>
<!--==== validator js ====-->
<script src="__HOME__/js/validator.min.js"></script>
<!--==== particles js ====-->
<script src="__HOME__/js/particles.min.js"></script>
<!--==== app js ====-->
<script src="__HOME__/js/app.js"></script>
<!--==== app js ====-->
<script src="__HOME__/js/wow-1.3.0.min.js"></script>
<!--==== main js ====-->
<script src="__HOME__/js/main.js"></script>

<script type="text/javascript" src="__ADMIN__/js/jquery.js"></script>
<script type="text/javascript" src="__ADMIN__/js/common.js"></script>
<script type="text/javascript" src="__ADMIN__/js/WdatePicker.js"></script>
<script type="text/javascript">
        $(function(){
            $('#btnSubmit').on('click',function(){
                var a=$('#name').val();
                var c=$('#msg_subject').val();
                var d=$('#message').val();
                if(a.length==0 || c.length==0 || d.length==0){
                    alert("请填全所有字段！");
                    //alert(b);//测试
				}else {
                    $('form').submit();
				}



            });

            $('#btnReset').on('click',function(){
                $('form')[0].reset();
            });
        });

        $(".select-title").on("click",function(){
            $(".select-list").toggle();
            return false;
        });
        $(".select-list").on("click","li",function(){
            var txt = $(this).text();
            $(".select-title").find("span").text(txt);
        });
        showRemind('input[type=text], textarea','placeholder');
</script>
</body>
</html>